[Match]
Name = eth0

[Network]
Description = Interface eth0 autoconfigured by PVE
Address = 193.191.177.214/25
Gateway = 193.191.177.254
Address = 2001:6a8:2880:a077::D6/64
Gateway = 2001:6a8:2880:a077::1
DHCP = no
IPv6AcceptRA = false
